@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
    font-family: 'Open Sans'; 
    box-sizing: border-box;
    color: #333; 
}
/*.drawCanvas {display: block;}
#content-mobile {display: none;}

@media screen and (max-width: 768px) {

.drawCanvas {display: none;}
#content-mobile {display: block;}
}*/
html, body /* poistaa default html muotoilut, jotta ohjelma olisi täysin fullscreen */
{
    margin:0px;
    padding:0px;
    overflow: hidden;
}
.wrapper
{
   /*height: 99.95%;  pikkutarkkaa on */
   margin: 0 auto; 
}
/*piirtotyökalun kokoikkuna*/
.wrapper > .drawCanvas
{
    width: calc(100% - 550px);
    height: 100%; 
    border: 2px solid #333;
    border-top: 2px solid #333;
    border-right: 0px;
    float:left;
}
/* Piirtoikkunan ylätunniste */
.wrapper > .drawCanvas > .canvasHeader 
{
    height: 40px;
      
}
/* Ylätunnisteen otsikko */
.wrapper > .drawCanvas > .canvasHeader h3 
{
    height: 40px;
    margin: 0;
    padding: 5px;
    padding-top: 7px;
    background: rgb(255, 255, 255);
    color: #333;
    border-bottom: 2px solid rgb(182, 152, 152); 
}

.wrapper > .drawCanvas > .canvasBody
{
    margin: 0;
    height: calc(100% - 80px);
    border-bottom: 1px solid rgb(182, 152, 152); 
}

#canvas 
{
    display: block;
}

.wrapper > .drawCanvas > .canvasFooter
{
    margin: 0;
    height: 40px;
    padding: 5px;     
}
/* CLEAR CANVAS nappula */
.wrapper > .drawCanvas > .canvasFooter form input[id='clear']
{
    width: 110px;
    padding: 5px;
    background: white;
    border: 1px solid rgb(182, 152, 152);
    cursor: pointer;   
}

#brushSizediv
{
    position: absolute; 
    left: 270.5px;
    bottom: 37px;
    height: 30px;
    width: 60px;
    padding: 5px;
    background: white;    
    border: 1px solid rgb(182, 152, 152);
    font-size: 13px;
    text-align: center;
    border-radius: 5px;
    display: none;
}
.wrapper > .drawCanvas > .canvasFooter form input[id='clear']:hover
{
    width: 110px;
    padding: 5px;
    background: rgb(245, 245, 245);
    border: 1px solid rgb(182, 152, 152);
    cursor: pointer;   
}
/* plus miinus */
.wrapper > .drawCanvas > .canvasFooter form input[id='minus']
{
    width: 20px;
    padding: 5px;
    background: white;
    border: 1px solid rgb(182, 152, 152);
    cursor: pointer;   
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 0px;
}
 
.wrapper > .drawCanvas > .canvasFooter form input[id='minus']:hover
{
    width: 20px;
    padding: 5px;
    background: rgb(245, 245, 245);
    border: 1px solid rgb(182, 152, 152);
    cursor: pointer;   
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 0px;
}

.wrapper > .drawCanvas > .canvasFooter form input[id='plus']
{
    width: 20px;
    padding: 5px;
    background: white;
    border: 1px solid rgb(182, 152, 152);
    cursor: pointer;   
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 0px;
}
 
.wrapper > .drawCanvas > .canvasFooter form input[id='plus']:hover
{
    width: 20px;
    padding: 5px;
    background: rgb(245, 245, 245);
    border: 1px solid rgb(182, 152, 152);
    cursor: pointer;   
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 0px;
}
/* muut nappulat */
.wrapper > .drawCanvas > .canvasFooter form input[id='pen']
{
    width: 40px;
    padding: 5px;
    background: white;
    border: 1px solid rgb(182, 152, 152);
    cursor: pointer;   
}
 
.wrapper > .drawCanvas > .canvasFooter form input[id='pen']:hover
{
    width: 40px;
    padding: 5px;
    background: rgb(245, 245, 245);
    border: 1px solid rgb(182, 152, 152);
    cursor: pointer;   
}
.wrapper > .drawCanvas > .canvasFooter form input[id='funbrushbutton']
{
    width: 50px;
    padding: 5px;
    background: white;
    border: 1px solid rgb(182, 152, 152);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;   
}
 
.wrapper > .drawCanvas > .canvasFooter form input[id='funbrushbutton']:hover
{
    width: 50px;
    padding: 5px;
    background: rgb(245, 245, 245);
    border: 1px solid rgb(182, 152, 152);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;     
}
.wrapper > .drawCanvas > .canvasFooter form input[id='eraserbutton']
{
    width: 50px;
    padding: 5px;
    background: white;
    border: 1px solid rgb(182, 152, 152);
    border-left: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;   
}
 
.wrapper > .drawCanvas > .canvasFooter form input[id='eraserbutton']:hover
{
    width: 50px;
    padding: 5px;
    background: rgb(245, 245, 245);
    border: 1px solid rgb(182, 152, 152);
    border-left: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;   

}


/* värinappulat */
.wrapper > .drawCanvas > .canvasFooter form input[id='black']
{
    width: 20px;
    height: 20px;  
    background: black;
    border: 0px solid rgb(182, 152, 152);
    cursor: pointer;   
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.wrapper > .drawCanvas > .canvasFooter form input[id='purple']
{
    width: 20px;
    height: 20px;   
    background: purple;
    border: 0px solid rgb(182, 152, 152);
    cursor: pointer;   
}
.wrapper > .drawCanvas > .canvasFooter form input[id='red']
{
    width: 20px;
    height: 20px;   
    background: red;
    border: 0px solid rgb(182, 152, 152);
    cursor: pointer;   
}
.wrapper > .drawCanvas > .canvasFooter form input[id='green']
{
    width: 20px;
    height: 20px;  
    background: green;
    border: 0px solid rgb(182, 152, 152);
    cursor: pointer;   
}
.wrapper > .drawCanvas > .canvasFooter form input[id='yellow']
{
    width: 20px;
    height: 20px;  
    background: yellow;
    border: 0px solid rgb(182, 152, 152);
    cursor: pointer;   
}
.wrapper > .drawCanvas > .canvasFooter form input[id='blue']
{
    width: 20px;
    height: 20px;  
    background: blue;
    border: 0px solid rgb(182, 152, 152);
    cursor: pointer;   
}
.wrapper > .drawCanvas > .canvasFooter form input[id='gray']
{
    width: 20px;
    height: 20px;  
    background: gray;
    border: 0px solid rgb(182, 152, 152);
    cursor: pointer;   
}
.wrapper > .drawCanvas > .canvasFooter form input[id='white']
{
    width: 20px;
    height: 20px;   
    background: white;
    border: 1px solid rgb(182, 152, 152);
    cursor: pointer;   
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    
    -webkit-padding-before: 0px;
}

/* STORE IMAGE nappula */
.wrapper > .drawCanvas > .canvasFooter form input[id='storeimg']
{
    width: 100px;
    padding: 5px;
    background: white;
    border: 1px solid rgb(182, 152, 152);
    border-right: 0px;
    cursor: pointer;   
    float: right;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.wrapper > .drawCanvas > .canvasFooter form input[id='storeimg']:hover
{
    width: 100px;
    padding: 5px;
    background: rgb(245, 245, 245);
    border: 1px solid rgb(182, 152, 152);
    border-right: 0px;
    cursor: pointer;   
    float: right;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.wrapper > .drawCanvas > .canvasFooter form input[id='store']
{
    width: 65px;
    padding: 5px;
    background: white;
    border: 1px solid rgb(182, 152, 152);
    cursor: pointer;   
    float: right;
}

.wrapper > .drawCanvas > .canvasFooter form input[id='store']:hover
{
    width: 65px;
    padding: 5px;
    background: rgb(245, 245, 245);
    border: 1px solid rgb(182, 152, 152);
    cursor: pointer;   
    float: right;
}

/* chatin kokoikkuna */
.wrapper > .chatContainer
{
    width: 550px;
    height: 100%; 
    border: 2px solid #333;
    border-left: 2px solid rgb(182, 152, 152);
    /*padding-left: 600px;*/
    float:left;
    display:block;
    overflow: hidden;       
    background: white;
}

/* Chatin ylätunniste ennen nimimerkin asetusta*/
.wrapper > .chatContainer > .chatHeaderpre 
{
    height: 40px;    
    border-bottom: 1px solid rgb(182, 152, 152);
    list-style: none;      
    display: none;
    /* tää on ehkä obsolete*/ 
}
/* Ylätunnisteen otsikko ennen nimimerkin asetusta*/
.wrapper > .chatContainer > .chatHeaderpre h3 
{
    height: 40px;
    margin: 0;
    padding: 5px;
    padding-top: 7px;
    /*font-size: 25px;*/
    color: rgb(255, 255, 255);
    background: #333;
}

/* Chatin ylätunniste */
.wrapper > .chatContainer > .chatHeader 
{
    height: 40px;
    /*display:none; piilotus*/
    border-bottom: 1px solid rgb(182, 152, 152);      
}

/* Ylätunnisteen otsikko */
.wrapper > .chatContainer > .chatHeader h3 
{
    height: 40px;
    margin: 0;
    padding: 5px;
    padding-top: 7px;
    /*font-size: 25px;*/
    color: rgb(255, 255, 255);
    background: #333;
}

/*oikealla floattaavat divit alkaa*/
.wrapper > .chatContainer > .chatNames
{
    width: 150px;
    height: calc(100% - 40px);
    float:right;
    word-wrap: break-word;
    background: white;    
    border-left: 1px solid rgb(182, 152, 152);    
}

/*keitä on paikalla-div*/
.wrapper > .chatContainer > .chatNames > .chatNamesheader
{   
    font-size: 14px;
    width: 150px;
    height: 40px; 
    background: rgb(255, 255, 255);    
    text-align: center;       
    border-right: 1px solid rgb(182, 152, 152);    
}

#connections
{ 
    background: rgb(255, 255, 255);
}
/*divi jossa näkyy lista online käyttäjistä */
.wrapper > .chatContainer > .chatNames > .chatNamesusers
{     
    width: 150px;
    height: calc(100% - 80px);
    background: white;       
    overflow-y: auto;    
}


/*erikoisnappulat div*/
.wrapper > .chatContainer > .chatNames > .chatNamesbottom
{
    width: 150px;
    height: 40px;
    padding: 5px;
    background: white;    
}
.wrapper > .chatContainer > .chatNames > .chatnamesBottom form input[type='button']
{
    width: 32px;
    padding: 5px;    
    background: white;
    border: 1px solid rgb(182, 152, 152);
    font-size: 15px;
    cursor: pointer;   
    padding-bottom: 3px;
    text-align: center;
}

.wrapper > .chatContainer > .chatNames > .chatnamesBottom form input[type='button']:hover
{ 
    width: 32px;
    padding: 5px;    
    background: rgb(245, 245, 245);
    border: 1px solid rgb(182, 152, 152);
    font-size: 15px;
    cursor: pointer; 
    padding-bottom: 3px;
    text-align: center;
}

#helpBoxbutton
{
    position: absolute;
    bottom: 7px;
    right: 7px;
    width: 67px;
    padding: 5px;
    background: white;
    border: 1px solid rgb(182, 152, 152);
    cursor: pointer;  
    font-size: 13px;
}
#helpboxButton:hover
{
    position: absolute;
    bottom: 7px;
    right: 7px;
    width: 67px;
    padding: 5px;
    background: rgb(245, 245, 245);
    border: 1px solid rgb(182, 152, 152);
    cursor: pointer;  
    font-size: 13px;
}

/*oikealla floattaavat divit loppuu*/

.wrapper > .chatContainer > .chatHeadertwo 
{   
    height: 40px;
    background: white;
    padding: 5px;
    padding-left: 7px;
    border-bottom: 1px solid rgb(182, 152, 152);    
}
/* ylätunnisteen tai tekstisyöteikkunan teksti EKAN kerran nimimerkin asettaessa */
.wrapper > .chatContainer > .chatHeadertwo form input[type='text']
{    
    padding: 3px;
    padding-left: 5px;
    border: 1px hidden rgb(182, 152, 152);
    height: 30px;
    width: 310px;
}
/* Lähetä viesti nappula */
.wrapper > .chatContainer > .chatHeadertwo input[type='submit']
{
    width: 70px;
    padding: 5px;
    background: white;
    border: 1px solid rgb(182, 152, 152);
    cursor: pointer;
}

.wrapper > .chatContainer > .chatHeadertwo input[type='submit']:hover
{
    width: 70px;
    padding: 5px;
    background: rgb(245, 245, 245);
    border: 1px solid rgb(182, 152, 152);
    cursor: pointer; 
}
.wrapper > .chatContainer > .chatHeaderthree 
{
    display:none; /*piilotus*/
    height: 40px;
    background: white;
    padding: 5px;
    padding-left: 7px;
    border-bottom: 1px solid rgb(182, 152, 152);   
}

/* Viesti-ikkuna */
.wrapper > .chatContainer > .chatMessages
{ 
    height: calc(100% - 120px);
    border-bottom: 1px solid  rgb(182, 152, 152);
    overflow-y: scroll;
    word-wrap: break-word; /*Tämän pitäisi leikata liian pitkä sana toiselle riville */
    
    background: white;
}

.wrapper > .chatContainer > .chatBottom
{
    height: 40px; /* alatunnisteen korkeus */
    width: 310px;
    list-style: none;    
    padding: 5px;
    padding-left: 5px;
    position:absolute;
    bottom: 5px;

}
/* Alatunnisteen tai tekstisyöteikkunan teksti */
.wrapper > .chatContainer > .chatBottom form > .textinput
{
    outline: none;
    resize: none;
    padding: 3px;
    padding-left: 5px;
    border: 1px hidden rgb(182, 152, 152);
    height: 30px;
    width: 310px;
    padding-top: 5px;
    -webkit-padding-before: 8px;
}
/*
.wrapper > .chatContainer > .chatBottom form input[type='text']
{    
    padding: 3px;
    padding-left: 5px;
    border: 1px hidden rgb(182, 152, 152);
    height: 30px;
    width: 310px;
}*/
/* Lähetä viesti nappula */
.wrapper > .chatContainer > .chatBottom form input[type='submit']
{
    width: 70px;
    padding: 5px;
    background: white;
    border: 1px solid rgb(182, 152, 152);
    cursor: pointer;   
    right: -82px;
    bottom: 2px;
    position: absolute;
}

.wrapper > .chatContainer > .chatBottom form input[type='submit']:hover
{
    width: 70px;
    padding: 5px;
    background: rgb(245, 245, 245);
    border: 1px solid rgb(182, 152, 152);
    cursor: pointer;  
}

#messages 
{ 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    border-bottom: 1px solid rgb(247, 243, 243);
    background: white;
}

#messages li 
{ 
    padding: 5px 10px; 
    background: white;
}
                
#messages li:nth-child(odd) 
{ 
    background: #eee; 
}
/*käyttäjien nimet chatnames ikkunassa*/
#usernames 
{ 
    margin: 0; 
    padding: 0; 
    border-bottom: 1px solid rgb(247, 243, 243);
}

#usernames li 
{ 
    padding: 5px 10px; 
}
                
#usernames li:nth-child(odd) 
{ 
    background: #eee; 
}

#invisibleDiv
{
    background-color: rgba(84, 77, 42, 0);
    width:100%;
    height:100%;
    display: none;   
    position: absolute;
    z-index:97; /*alempi div stack order*/    
    top:0px;
    left:0px;
}

#emojibox
{
    background: white;
    border: 1px solid rgb(182, 152, 152);
    width:218px;
    height:320px;
    display: inline-block;   
    position: absolute;
    z-index:99; /*ylempi div stack order*/
    bottom:40px;
    right:9px;
    overflow-y:scroll;
    padding-top: 5px;
    display:none; /*piilotus*/
}
#emojibox input[type='button']
{
    background: white;
    border: hidden;
    font-size: 20px;
    width: 33px;  
}

#kettunenImg 
{
    height: auto; 
    width: auto; 
    max-width: 25px; 
    max-height: 25px;
    float:left;
}

#chatImg
{   
    background: white;
    border: 1px solid rgb(182, 152, 152);
    height: auto;
    width: auto;
    max-width: 360px;
    max-height: 360px;
    /*vertical-align: top;*/
}

#closer2
{
    position:absolute;
    top: 0.75%;
    left: 92.55%;
    margin: 0;
    padding: 0;
}
#closer2 input[type='button']
{
    width: 70px;
    padding: 5px;
    background: white;
    border: 1px solid rgb(182, 152, 152);
    cursor: pointer;   
}

#closer2 input[type='button']:hover
{
    width: 70px;
    padding: 5px;
    background: rgb(245, 245, 245);
    border: 1px solid rgb(182, 152, 152);
    cursor: pointer;   
}

#helpbox
{
    position:absolute; /* keeps the lightbox window in the current viewport */
    top: 50%;
    left: 50%;
    margin-left: auto;
    margin-right: auto;
    width: 995px;
    height: 570px;
    z-index:101; /*alempi div stack order*/
    transform: translate(-50%, -50%);  
    border: 2px solid rgb(136, 115, 115); 
    background: white;
    padding-left: 10px;
    overflow-y: scroll;
    display: none;
}

#lightbox 
{
    position:absolute; /* keeps the lightbox window in the current viewport */
    top: 50%;
    left: 50%;
    margin-left: auto;
    margin-right: auto;
    width: 995px;
    height: 570px;
    z-index:98; /*alempi div stack order*/   
    transform: translate(-50%, -50%);
    background: #333;
    text-align:center;
    display: none;
    border: 2px solid rgb(136, 115, 115);
    
}
#lightbox img {
    background: white; 
    max-width:800px;
    border: 0px solid rgb(29, 29, 29);           
}
#kuva
{
    padding-top: 5px;
    padding-left: 5px;
    width: 500px;  
    float:left;  
    color: white;
    text-align: left;   
}


#kuva a:link{
    color:#FFFFFF;
}


#kuva img
{
    max-height: 550px;  
}
#closer 
{
    position:absolute;
    top: 1%;
    left: 82.30%;
    margin: 0;
    padding: 0;
}
#closer input[type='button']
{
    width: 150px;
    padding: 5px;
    background: white;
    border: 0px solid rgb(182, 152, 152);
    cursor: pointer;   
}

#closer input[type='button']:hover
{
    width: 150px;
    padding: 5px;
    background: rgb(245, 245, 245);
    border: 0px solid rgb(182, 152, 152);
    cursor: pointer;   
}
#thumbnails
{
    width: 195px;
    height: 565px;
    padding-top: 5px;
    padding-left: 10px;
    float: right;
    overflow-y: scroll;   
    list-style-type: none;       
    padding-top: 40px;
}
#kuvalista
{ 
    padding-left: 0px;
    padding-top: 5px; 
    padding-bottom: 5px;
}
#lightfooter
{
    height: 0px;
    clear:both;
    color: white;
    background: black;
    display: none;
}
#thumbnail
{
    background: white;
    height: auto;
    width: auto;    
    padding-bottom: 5px;
}
#thumbnails img
{
    max-width: 150px;
    max-height: 160px;
}

.whoisdrawing
{
    position: absolute; 
    left: 582px; 
    top: 332px;
    display: none;
    font-size: 15px;
    pointer-events:none; 
    color: white;
    list-style-type: none; 
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
.whoisdrawing  b, strong 
{
    color: rgb(255, 255, 255);
}

