@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
    font-family: 'Open Sans'; 
    box-sizing: border-box;
    color: #333;
}
/*.drawCanvas {display: block;}
#content-mobile {display: none;}

@media screen and (max-width: 768px) {

.drawCanvas {display: none;}
#content-mobile {display: block;}
}*/
html, body /* poistaa default html muotoilut, jotta ohjelma olisi täysin fullscreen */
{
    margin:0px;
    padding:0px;
    overflow: hidden;
}

.wrapper
{
   /*height: 99.95%;  pikkutarkkaa on */
   margin: 0 auto; 
}
/*piirtotyökalun kokoikkuna*/
.wrapper > .drawCanvas
{
    width: calc(100% - 550px);
    height: 100%; 
    border: 2px solid #333;
    border-top: 2px solid #333;
    border-right: 0px;
    float:left;
}
/* Piirtoikkunan ylätunniste */
.wrapper > .drawCanvas > .canvasHeader 
{
    height: 40px;
      
}
/* Ylätunnisteen otsikko */
.wrapper > .drawCanvas > .canvasHeader h3 
{
    height: 40px;
    margin: 0;
    padding: 5px;
    padding-top: 7px;
    background: rgb(255, 255, 255);
    color: #333;
    border-bottom: 2px solid rgb(182, 152, 152); 
}

.wrapper > .drawCanvas > .canvasBody
{
    margin: 0;
    height: calc(100% - 80px);
    border-bottom: 1px solid rgb(182, 152, 152); 
}

#canvas 
{
    display: block;
}

.wrapper > .drawCanvas > .canvasFooter
{
    margin: 0;
    height: 40px;
    padding: 5px;     
}
/* CLEAR CANVAS nappula */
.wrapper > .drawCanvas > .canvasFooter form input[id='clear']
{
    width: 120px;
    padding: 5px;
    background: white;
    border: 1px solid rgb(182, 152, 152);
    cursor: pointer;   
}

.wrapper > .drawCanvas > .canvasFooter form input[id='clear']:hover
{
    width: 120px;
    padding: 5px;
    background: rgb(245, 245, 245);
    border: 1px solid rgb(182, 152, 152);
    cursor: pointer;   
}
/* plus miinus */
.wrapper > .drawCanvas > .canvasFooter form input[id='minus']
{
    width: 20px;
    padding: 5px;
    background: white;
    border: 1px solid rgb(182, 152, 152);
    cursor: pointer;   
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 0px;
}
 
.wrapper > .drawCanvas > .canvasFooter form input[id='minus']:hover
{
    width: 20px;
    padding: 5px;
    background: rgb(245, 245, 245);
    border: 1px solid rgb(182, 152, 152);
    cursor: pointer;   
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 0px;
}

.wrapper > .drawCanvas > .canvasFooter form input[id='plus']
{
    width: 20px;
    padding: 5px;
    background: white;
    border: 1px solid rgb(182, 152, 152);
    cursor: pointer;   
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 0px;
}
 
.wrapper > .drawCanvas > .canvasFooter form input[id='plus']:hover
{
    width: 20px;
    padding: 5px;
    background: rgb(245, 245, 245);
    border: 1px solid rgb(182, 152, 152);
    cursor: pointer;   
    border-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 0px;
}
/* muut nappulat */
.wrapper > .drawCanvas > .canvasFooter form input[id='buttons']
{
    width: 50px;
    padding: 5px;
    background: white;
    border: 1px solid rgb(182, 152, 152);
    cursor: pointer;   
}
 
.wrapper > .drawCanvas > .canvasFooter form input[id='buttons']:hover
{
    width: 50px;
    padding: 5px;
    background: rgb(245, 245, 245);
    border: 1px solid rgb(182, 152, 152);
    cursor: pointer;   
}

.wrapper > .drawCanvas > .canvasFooter form input[id='button2']
{
    width: 50px;
    padding: 5px;
    background: white;
    border: 1px solid rgb(182, 152, 152);
    cursor: pointer;   
    border-radius: 5px;
}
 
.wrapper > .drawCanvas > .canvasFooter form input[id='button2']:hover
{
    width: 50px;
    padding: 5px;
    background: rgb(245, 245, 245);
    border: 1px solid rgb(182, 152, 152);
    cursor: pointer;   
    border-radius: 5px;
}
/* värinappulat */
.wrapper > .drawCanvas > .canvasFooter form input[id='black']
{
    width: 20px;
    height: 20px;  
    background: black;
    border: 0px solid rgb(182, 152, 152);
    cursor: pointer;   
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.wrapper > .drawCanvas > .canvasFooter form input[id='purple']
{
    width: 20px;
    height: 20px;   
    background: purple;
    border: 0px solid rgb(182, 152, 152);
    cursor: pointer;   
}
.wrapper > .drawCanvas > .canvasFooter form input[id='red']
{
    width: 20px;
    height: 20px;   
    background: red;
    border: 0px solid rgb(182, 152, 152);
    cursor: pointer;   
}
.wrapper > .drawCanvas > .canvasFooter form input[id='green']
{
    width: 20px;
    height: 20px;  
    background: green;
    border: 0px solid rgb(182, 152, 152);
    cursor: pointer;   
}
.wrapper > .drawCanvas > .canvasFooter form input[id='yellow']
{
    width: 20px;
    height: 20px;  
    background: yellow;
    border: 0px solid rgb(182, 152, 152);
    cursor: pointer;   
}
.wrapper > .drawCanvas > .canvasFooter form input[id='blue']
{
    width: 20px;
    height: 20px;  
    background: blue;
    border: 0px solid rgb(182, 152, 152);
    cursor: pointer;   
}
.wrapper > .drawCanvas > .canvasFooter form input[id='gray']
{
    width: 20px;
    height: 20px;  
    background: gray;
    border: 0px solid rgb(182, 152, 152);
    cursor: pointer;   
}
.wrapper > .drawCanvas > .canvasFooter form input[id='white']
{
    width: 20px;
    height: 20px;   
    background: white;
    border: 1px solid rgb(182, 152, 152);
    cursor: pointer;   
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* chatin kokoikkuna */
.wrapper > .chatContainer
{
    width: 550px;
    height: 100%; 
    border: 2px solid #333;
    border-left: 2px solid rgb(182, 152, 152);
    /*padding-left: 600px;*/
    float:left;
    display:block;
    overflow: hidden;   
}

/* Chatin ylätunniste ennen nimimerkin asetusta*/
.wrapper > .chatContainer > .chatHeaderpre 
{
    height: 40px;    
    border-bottom: 1px solid rgb(182, 152, 152);
    list-style: none;       
}
/* Ylätunnisteen otsikko ennen nimimerkin asetusta*/
.wrapper > .chatContainer > .chatHeaderpre h3 
{
    height: 40px;
    margin: 0;
    padding: 5px;
    padding-top: 7px;
    /*font-size: 25px;*/
    color: rgb(255, 255, 255);
    background: #333;
}

/* Chatin ylätunniste */
.wrapper > .chatContainer > .chatHeader 
{
    height: 40px;
    display:none; /*piilotus*/
    border-bottom: 1px solid rgb(182, 152, 152);      
}

/* Ylätunnisteen otsikko */
.wrapper > .chatContainer > .chatHeader h3 
{
    height: 40px;
    margin: 0;
    padding: 5px;
    padding-top: 7px;
    /*font-size: 25px;*/
    color: rgb(255, 255, 255);
    background: #333;
}

/*oikealla floattaavat divit alkaa*/
.wrapper > .chatContainer > .chatNames
{
    width: 150px;
    height: 100%;
    float:right;
    word-wrap: break-word;
    background: white;    
    border-left: 1px solid rgb(182, 152, 152);    
}

/*keitä on paikalla-div*/
.wrapper > .chatContainer > .chatNames > .chatNamesheader
{   
    font-size: 14px;
    width: 150px;
    height: 40px; 
    background: rgb(255, 255, 255);    
    text-align: center;       
    border-right: 1px solid rgb(182, 152, 152);    
}

#connections
{ 
    background: rgb(255, 255, 255);
}
/*divi jossa näkyy lista online käyttäjistä */
.wrapper > .chatContainer > .chatNames > .chatNamesusers
{     
    width: 150px;
    height: calc(100% - 120px);
    background: white;       
    overflow-y: auto;    
}
/*erikoisnappulat div*/
.wrapper > .chatContainer > .chatNames > .chatNamesbottom
{
    width: 150px;
    height: 40px;
    padding: 5px;
    background: white;      
}
/* Lähetä viesti nappula */
.wrapper > .chatContainer > .chatNames > .chatnamesBottom form input[type='button']
{
    width: 67px;
    padding: 5px;
    background: white;
    border: 1px solid rgb(182, 152, 152);
    cursor: pointer;  
}
.wrapper > .chatContainer > .chatNames > .chatnamesBottom form input[type='button']:hover
{
    width: 67px;
    padding: 5px;
    background: rgb(245, 245, 245);
    border: 1px solid rgb(182, 152, 152);
    cursor: pointer; 
}
/*oikealla floattaavat divit loppuu*/

.wrapper > .chatContainer > .chatHeadertwo 
{   
    height: 40px;
    background: white;
    padding: 5px;
    padding-left: 7px;
    border-bottom: 1px solid rgb(182, 152, 152);    
}
/* ylätunnisteen tai tekstisyöteikkunan teksti EKAN kerran nimimerkin asettaessa */
.wrapper > .chatContainer > .chatHeadertwo form input[type='text']
{    
    padding: 3px;
    padding-left: 5px;
    border: 1px hidden rgb(182, 152, 152);
    height: 30px;
    width: 310px;
}
/* Lähetä viesti nappula */
.wrapper > .chatContainer > .chatHeadertwo input[type='submit']
{
    width: 70px;
    padding: 5px;
    background: white;
    border: 1px solid rgb(182, 152, 152);
    cursor: pointer;
}

.wrapper > .chatContainer > .chatHeadertwo input[type='submit']:hover
{
    width: 70px;
    padding: 5px;
    background: rgb(245, 245, 245);
    border: 1px solid rgb(182, 152, 152);
    cursor: pointer; 
}
.wrapper > .chatContainer > .chatHeaderthree 
{
    display:none; /*piilotus*/
    height: 40px;
    background: white;
    padding: 5px;
    padding-left: 7px;
    border-bottom: 1px solid rgb(182, 152, 152);   }

/* ylätunnisteen tai tekstisyöteikkunan teksti vaihtaessa nimimerkkiä */
.wrapper > .chatContainer > .chatHeaderthree form input[type='text']
{    
    padding: 3px;
    padding-left: 5px;
    border: 1px hidden rgb(182, 152, 152);
    height: 30px;
    width: 310px;
}
/* Vaihda nimi */
.wrapper > .chatContainer > .chatHeaderthree input[type='submit']
{
    width: 70px;
    padding: 5px;
    background: white;
    border: 1px solid rgb(182, 152, 152);
    cursor: pointer;
}
.wrapper > .chatContainer > .chatHeaderthree input[type='submit']:hover
{
    width: 70px;
    padding: 5px;
    background: rgb(245, 245, 245);
    border: 1px solid rgb(182, 152, 152);
    cursor: pointer;   
}

/* Viesti-ikkuna */
.wrapper > .chatContainer > .chatMessages
{ 
    height: calc(100% - 120px);
    border-bottom: 1px solid  rgb(182, 152, 152);
    overflow-y: scroll;
    word-wrap: break-word; /*Tämän pitäisi leikata liian pitkä sana toiselle riville */
}

.wrapper > .chatContainer > .chatBottom
{
    height: 40px; /* alatunnisteen korkeus */
    list-style: none;
    /*border-bottom: 1px solid #ddd; */
    padding: 5px;
    padding-left: 7px;
}
/* Alatunnisteen tai tekstisyöteikkunan teksti */
.wrapper > .chatContainer > .chatBottom form input[type='text']
{    
    padding: 3px;
    padding-left: 5px;
    border: 1px hidden rgb(182, 152, 152);
    height: 30px;
    width: 310px;
}
/* Lähetä viesti nappula */
.wrapper > .chatContainer > .chatBottom form input[type='submit']
{
    width: 70px;
    padding: 5px;
    background: white;
    border: 1px solid rgb(182, 152, 152);
    cursor: pointer;   
}

.wrapper > .chatContainer > .chatBottom form input[type='submit']:hover
{
    width: 70px;
    padding: 5px;
    background: rgb(245, 245, 245);
    border: 1px solid rgb(182, 152, 152);
    cursor: pointer;  
}

#messages 
{ 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    border-bottom: 1px solid rgb(247, 243, 243);
}

#messages li 
{ 
    padding: 5px 10px; 
}
                
#messages li:nth-child(odd) 
{ 
    background: #eee; 
}
/*käyttäjien nimet chatnames ikkunassa*/
#usernames 
{ 
    margin: 0; 
    padding: 0; 
    border-bottom: 1px solid rgb(247, 243, 243);
}

#usernames li 
{ 
    padding: 5px 10px; 
}
                
#usernames li:nth-child(odd) 
{ 
    background: #eee; 
}

img {
    height: auto; 
    width: auto; 
    max-width: 25px; 
    max-height: 25px;
    float:left;
}